h1,h2,h5 {
    font-family: 'Comfortaa', cursive;
}

h3,h4 {
    font-family: 'Lato', sans-serif;
    font-weight:300
}

span.numberbadge {
    background-color: white(206, 205, 205);
     border-radius: 0.8em;
    -moz-border-radius: 0.8em;
    -webkit-border-radius: 0.8em;
    color:darkblue;
    display: inline-block;
    font-weight: bold;
    line-height: 1.6em;
    margin-right: 15px;
    text-align: center;
    width: 1.6em; 
}


span.team-norm {
    font-family:  'Lato', sans-serif;
    text-align: left;
    font-weight: 300;
}

span.highlight {
    color: #0057FF;
    font-weight: 400;
}

