{% extends 'base.html' %}


{% block body_block %}
{% load static %}

  <div class="relative bg-white overflow-hidden h-screen" style="background: url({% static "images/herobglrg.png" %}); background-size: cover; ">

    <div>
      <main class="mt-8 mx-auto max-w-7xl px-4 sm:mt-12 sm:px-6 md:mt-16 lg:mt-20 lg:px-8 xl:mt-28 display-block">
          <img class="display-block pb-2 ml-auto mr-auto lg:max-h-44" src="{% static "images/logo-white-4.png" %}">
          <div class="text-center ml-auto mr-auto">
            <h1 class="pt-12 display-block text-4xl font-bold sm:text-4xl md:text-5xl">
              <span class="xl:inline text-white">bring your team back to the basics.</span>
            </h1>

            <h1 class="pt-20 display-block text-4xl sm:text-4xl md:text-4xl">
              <span class="xl:inline text-white">Learn more today</span>
            </h1>

            <div class="mt-6">
              <form method="post" action="{% url 'landing' %}">
                {% csrf_token %}
                <input name="email" class="flex-1 appearance-none border border-transparent py-2 px-4 bg-white text-gray-700 placeholder-gray-400 shadow-md rounded-full text-base focus:outline-none focus:ring-2 focus:ring-blue-700 focus:border-transparent" placeholder="Your email">
                <!-- <input class="rounded-lg border border-transparent focus:outline-none focus:ring-2 focus:ring-blue-600 focus:border-transparent" placeholder="Your email"> -->
                <button type = "submit" class="flex-1 appearance-none border border-transparent py-2 mx-2 px-4 rounded-full bg-blue-700 text-white focus:outline-none focus:ring-2 focus:ring-blue-600 focus:ring-opacity-50">
                  <p class="text-l">
                    GO
                  </p>
                </button>
              </form>
            </div>
          </div>

            
        </main>
      </div>
    </div>

  </div>
{% endblock %}
